.score-board__inputs {
	display: flex;
	gap: 1rem;

	.home-team__name,
	.away-team__name {
		width: 10rem;
	}

	.home-team__score,
	.away-team__score {
		width: 2rem;
	}
}

.score-board__actions {
	display: flex;
	gap: 1rem;

	.new-game__button {
		width: 10rem;
	}

	.finish-game__button {
		width: 10rem;
	}
}
