.scores-wrapper {
  .home-team__name {
    padding: 0 1rem;
  }

  .home-team__score {
    padding: 0 0.5rem;
  }

  .away-team__name {
    padding: 0 1rem;
  }

  .away-team__score {
    padding: 0 0.5rem;
  }
}
