.scores-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;

	.game {
		display: flex;
		flex-direction: row;
		background-color: lightgray;

		.home-team__name,
		.away-team__name {
			width: 10rem;
			// padding: 0 1rem;
		}

		.home-team__score,
		.away-team__score {
			width: 2rem;
			// padding: 0 0.5rem;
		}

		.finish-match__button {
			margin-left: 1rem;
			width: 5rem;
		}
	}
}
